.task {
  width: 100%;
  max-width: 386px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px dashed var(--clr-neutral);
  border-radius: 0.5rem;
  transition: 0.2s ease-in;

  .taskGroup {
    display: flex;
    gap: 1rem;

    input {
      -moz-appearance: none;
      -webkit-appearance: none;
      -o-appearance: none;
      width: 24px;
      height: 24px;
      border: 1px solid var(--clr-neutral);
      border-radius: 0.25rem;
    }

    input:checked {
      background: var(--clr-blue-300) url(../../../../../public/images/Icon.svg)
        center no-repeat;
      border: 1px solid var(--clr-blue-500);
    }

    input,
    label {
      cursor: pointer;
    }

    label {
      font-weight: var(--fw-regular);
      font-size: var(--fs-300);
    }

    .completed {
      text-decoration: line-through;
      color: var(--clr-primary);
    }
  }

  .taskButton {
    background-color: transparent;
  }
}

.task:hover,
.task:focus {
  background-color: var(--clr-hover);
  border: 1px solid var(--clr-hover);
}
