.modalInputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block-end: 2rem;

  input {
    outline: none;
    padding: 1rem;
    border: 1px solid var(--clr-neutral);
    border-radius: 0.5rem;
  }

  .errorInput {
    border: 1px solid var(--clr-red-500);
  }

  .errorMessage {
    color: var(--clr-red-500);
    margin-top: 0.3rem;
    font-size: var(--fs-200);
  }
}
